inputs:
  AWS:
    awsAccounts:
      - accountID: "1234"
        accessKey: "asdf"
        secretAccessKey: "asdf"
        scanAllBuckets: true
        buckets: []
  Microsoft:
    onedriveAccounts:
      - tenant_id: "asdf"
        client_id: "asdf"
        client_secret: "asdf"
        scanAllUsers: true
        scanUsers: 
          - "admin@skyhighlabs.onmicrosoft.com"


storage:
  AWS:
    accountID: "1234"
    accessKey: "asdf"
    secretAccessKey: "asde"
    bucketName: "skyhigh-ndexer-output-fs1dfwe4"
    awsHashIndexFile: "s3-fileindex.csv"
    onedriveIndexFile: "onedrive-fileindex.csv"
    microsoftMetadataDB: "hashes.db"
    retainFiles: true


