inputs:
  AWS:
    awsAccounts:
      - accountID: "1234567"
        accessKey: "AKIADEADBEEF4DAD"
        secretAccessKey: "yOuR5ecRtaxsessKeyGoesH3re"
        scanAllBuckets: true
        buckets: []
  Microsoft:
    onedriveAccounts:
      - accountID: "987654321"
        tenant_id: "your-tenant-id"
        client_id: "your-client-id"
        client_secret: "your-client-secret"
        accessKey: "AKIAI44QH8DHBEXAMPLE"
        secretAccessKey: "je7MtGbClwBF/2Zp9Utk/h3yCo8nvbEXAMPLEKEY"
        scanAllBuckets: false
        buckets: ["bucket-one", "bucket-two"]

outputs:
  AWS:
    bucketName: "your-bucket-name"
    fileKey: "index.csv"
    accountID: "1234567"
    accessKey: "AKIADEADBEEF4DAD"
    secretAccessKey: "yOuR5ecRtaxsessKeyGoesH3re"
